# Compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Miscellaneous
.class
.pyc
.swp
.atom
.buildlog
.history
.svn
.swiftpm
migrate_working_dir

# IntelliJ related
.iml
.ipr
.iws

# Flutter/Dart/Pub related
docapi
iosFlutter.last_build_id
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache
.pub
androidappdebug
androidappprofile
androidapprelease

# Obfuscation related
app..map.json

# Symbolication related
app..symbols

# Android Studio build artifacts
androidappdebug
androidappprofile
androidapprelease
